.root {
    -fx-font-family: SansSerif;
    -fx-font-size: 16px;
}

.image-viewer {
    -fx-background-color: #404040;
    -fx-cursor: MOVE;
}

.progress-indicator .percentage {
    -fx-fill: transparent;
}
