<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.classic.filter.LevelFilter"/>
  <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>
  <import class="ch.qos.logback.core.FileAppender"/>

  <property name="logPath" value="log"/>
  <property name="pattern" value="%date [%thread] %level :: %logger{32} -%kvp- %message%n"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
  </appender>

  <appender name="FILE_ERROR" class="FileAppender">
    <file>${logPath}/error.log</file>
    <encoder class="PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
    <filter class="ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <appender name="FILE_DEBUG" class="FileAppender">
    <file>${logPath}/debug.log</file>
    <encoder class="PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
    <filter class="LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>NEUTRAL</onMismatch>
    </filter>
    <filter class="LevelFilter">
      <level>TRACE</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <logger name="com.github.johypark97.varchivemacro" level="DEBUG">
    <appender-ref ref="FILE_DEBUG"/>
    <appender-ref ref="FILE_ERROR"/>
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="OFF"/>
</configuration>
