<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="logDirectoryPath">log</Property>
    <Property name="logFileSize">8M</Property>
    <Property name="logPattern">[%d{yyyy-MM-dd HH:mm:ss.SSS Z}] [%-5p] [%t] %c{1.} - %m%n</Property>
    <Property name="errorLogFile_filePath">${logDirectoryPath}/error.log</Property>
    <Property name="errorLogFile_filePathPattern">${logDirectoryPath}/error-%i.log</Property>
    <Property name="infoLogFile_filePath">${logDirectoryPath}/info.log</Property>
    <Property name="infoLogFile_filePathPattern">${logDirectoryPath}/info-%d{yyyy-MM-dd}-%i.log</Property>
    <Property name="infoLogFile_rolloverDeleteAge">P7D</Property>
    <Property name="infoLogFile_rolloverDeleteGlob">info-*.log</Property>
    <Property name="debugLogFile_filePath">${logDirectoryPath}/debug.log</Property>
    <Property name="debugLogFile_filePathPattern">${logDirectoryPath}/debug-%i.log</Property>
    <Property name="recordUploadLogFile_filePath">${logDirectoryPath}/recordUpload.log</Property>
    <Property name="recordUploadLogFile_filePathPattern">${logDirectoryPath}/recordUpload-%d{yyyy-MM-dd}-%i.log</Property>
    <Property name="recordUploadLogFile_logPattern">[%d{yyyy-MM-dd HH:mm:ss.SSS Z}] %m%n</Property>
    <Property name="recordUploadLogFile_rolloverDeleteAge">P7D</Property>
    <Property name="recordUploadLogFile_rolloverDeleteGlob">recordUpload-*.log</Property>
  </Properties>
  <Appenders>
    <Console name="consoleAppender_STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="${logPattern}"/>
      <LevelRangeFilter minLevel="INFO"/>
    </Console>
    <Console name="consoleAppender_STDERR" target="SYSTEM_ERR">
      <PatternLayout pattern="${logPattern}"/>
      <ThresholdFilter level="WARN"/>
    </Console>
    <RollingFile createOnDemand="true" fileName="${errorLogFile_filePath}" filePattern="${errorLogFile_filePathPattern}" name="fileAppender_error">
      <PatternLayout pattern="${logPattern}"/>
      <ThresholdFilter level="WARN"/>
      <SizeBasedTriggeringPolicy size="${logFileSize}"/>
    </RollingFile>
    <RollingFile createOnDemand="true" fileName="${infoLogFile_filePath}" filePattern="${infoLogFile_filePathPattern}" name="fileAppender_info">
      <PatternLayout pattern="${logPattern}"/>
      <LevelMatchFilter level="INFO"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="${logFileSize}"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy fileIndex="nomax">
        <Delete basePath="${logDirectoryPath}">
          <IfFileName glob="${infoLogFile_rolloverDeleteGlob}"/>
          <IfLastModified age="${infoLogFile_rolloverDeleteAge}"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile createOnDemand="true" fileName="${debugLogFile_filePath}" filePattern="${debugLogFile_filePathPattern}" name="fileAppender_debug">
      <PatternLayout pattern="${logPattern}"/>
      <LevelMatchFilter level="DEBUG"/>
      <SizeBasedTriggeringPolicy size="${logFileSize}"/>
    </RollingFile>
    <RollingFile createOnDemand="true" fileName="${recordUploadLogFile_filePath}" filePattern="${recordUploadLogFile_filePathPattern}" name="fileAppender_recordUpload">
      <PatternLayout pattern="${recordUploadLogFile_logPattern}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="${logFileSize}"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy fileIndex="nomax">
        <Delete basePath="${logDirectoryPath}">
          <IfFileName glob="${recordUploadLogFile_rolloverDeleteGlob}"/>
          <IfLastModified age="${recordUploadLogFile_rolloverDeleteAge}"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="${sys:log.level:-INFO}">
      <AppenderRef ref="consoleAppender_STDOUT"/>
      <AppenderRef ref="consoleAppender_STDERR"/>
      <AppenderRef ref="fileAppender_error"/>
      <AppenderRef ref="fileAppender_info"/>
      <AppenderRef ref="fileAppender_debug"/>
    </Root>
    <Logger additivity="false" name="recordUpload">
      <AppenderRef ref="fileAppender_recordUpload"/>
    </Logger>
  </Loggers>
</Configuration>
