<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.classic.filter.ThresholdFilter"/>
  <import class="ch.qos.logback.core.FileAppender"/>

  <property name="logPath" value="log"/>
  <property name="pattern" value="%date [%thread] %level :: %logger{32} -%kvp- %message%n"/>

  <appender name="FILE_ERROR" class="FileAppender">
    <file>${logPath}/error.log</file>
    <encoder class="PatternLayoutEncoder">
      <pattern>${pattern}</pattern>
    </encoder>
    <filter class="ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <logger name="com.github.johypark97.varchivemacro" level="ERROR">
    <appender-ref ref="FILE_ERROR"/>
  </logger>

  <root level="OFF"/>
</configuration>
